@media only screen and (max-width: 430px) {
  .learn-more-button {
    right: 20px;
    bottom: 2px;
    padding: 0 7px;
    font-size: 7px;
  }
}
@media only screen and (min-width: 430px) and (max-width: 480px) {
  .learn-more-button {
    right: 20px;
    bottom: 12px;
    padding: 0 7px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .learn-more-button {
    right: 20px;
    bottom: 8px;
    padding: 2px 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1360px) {
  .learn-more-button {
    right: 28px;
    bottom: 8px;
    padding: 2px 13px;
  }
}
@media only screen and (min-width: 1360px) {
  .learn-more-button {
    right: 65px;
    bottom: 20px;
    padding: 2px 13px;
  }
}
