@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles for both classes */
.menuGradient {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.1) 59.5%);
}

.menuGradient-scrolled {
  background: linear-gradient(90deg, #FFFFFF 40%, rgba(255, 255, 255, 0.05) 50%, #FFFFFF 59.5%);
}

/* Media query for screen width 430px or less */
@media only screen and (max-width: 430px) {
  .menuGradient,
  .menuGradient-scrolled {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 40%);
  }
}
